
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
  background-color: black;
  color: aliceblue;
}

.buddy {
  color: rgb(255, 255, 255);;
  font-size: 25px;
  font-family: 'Luckiest Guy', cursive;
}

Link.active{
  font-weight: bolder;
  transform: translate(-2%, -2px);

}

.buddy:hover{
  color: rgba(191, 166, 214, 0.909);
  transform: translate(-2%, -2px);
}

.nav-link:hover{
  color: rgb(69, 69, 230);
  transform: translate(-2%, -2px);
}

.card:hover{
  
  transform: translate(0%, -4px);
}

.btn:hover{
  
  transform: translate(0%, -4px);
}



.product{
  position: relative;
  top: 3px;
  font-size: 25px;
  color: rgb(232, 11, 125);
}

.copy{
  position: relative;
  top: 3px;
  font-size: 20px;

}









